@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background: url("./images/background/bgtwo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: all 0.3s;
  height: 250vh;
}

.preloader {
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: fixed;
  min-width: 100%;
  background-color: #111111;
  opacity: 1;
  z-index: 999999999999999999999;
  transition: all 0.5s ease;
}

/* HTML: <div class="loader"></div> */
.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #ef4060 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #ef4060 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #ef4060 80%),
    #1d1d1d;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

.dark-theme {
  background: url("./images/background/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Poppins", sans-serif;
  color: black;
  p {
    color: #4d4d4d;
  }
  .themeToggle {
    background-color: white;
  }
  .themeToggle:hover {
    background-color: #ef4060;
    color: white;
  }
  .left .inner-left,
  .right .outer-menu .menu {
    background-color: white;
    a {
      background-color: #f3f6f6;
      color: #44566c;
    }
    a:hover {
      color: white;
    }
    .active {
      color: white;
    }
  }
  .right .content {
    background-color: white;
  }
  .left .inner-left {
    border-radius: 18px;
  }
  .left .inner-left .data .social-icons a {
    background-color: #f3f6f6;
  }
  .left .inner-left .data {
    p {
      background: #f3f6f6;
      color: #1d1d1d;
    }
  }
  .left .inner-left .links {
    background-color: #f3f6f6;
    border-radius: 18px;
    .phone,
    .email,
    .location,
    .birthday {
      border-bottom: 1px solid rgb(226, 226, 226);
      i {
        background-color: white;
        -webkit-box-shadow: 0px 10px 31px -13px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 0px 10px 31px -13px rgba(0, 0, 0, 0.56);
        box-shadow: 0px 10px 31px -13px rgba(0, 0, 0, 0.56);
      }
    }
  }
  .left .inner-left .download a {
    color: white;
  }
  .right .content .what-i-do .skill .demo:nth-child(1) {
    background-color: #0073b118;
    border: none;
  }
  .right .content .what-i-do .skill .demo:nth-child(2) {
    background-color: rgba(255, 127, 80, 0.069);
    border: none;
  }
  .right .content .what-i-do .skill .demo:nth-child(3) {
    background-color: rgba(215, 0, 215, 0.096);
    border: none;
  }
  .right .content .what-i-do .skill .demo:nth-child(4) {
    background-color: #f208330f;
    border: none;
  }
  .right .content .client .content {
    background-color: #f3f6f6;
  }
  .nav2 {
    background-color: #f3f6f6;
    ul li a {
      color: black;
    }
  }
  .right .content .resume .inner .education,
  .experience {
    .card {
      background-color: #f3f6f6;
      border: none;
    }
  }
  .right .content .resume .skills .skill {
    background-color: #f3f6f6;
    border-radius: 12px;
    padding: 3%;
    .line {
      background-color: #d9d9d9;
    }
  }
  .right .content .resume .knowledge .content p {
    background-color: #f3f6f6;
    color: #1d1d1d;
  }
  .right .content .contact {
    .form {
      input[type="text"],
      input[type="email"],
      input[type="number"],
      textarea {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: none;
        outline: none;
        border-bottom: 2px solid #f3f6f6;
        background-color: transparent;
        resize: vertical;
        color: black;
      }
    }
  }
}

header {
  display: grid;
  place-items: center;
  height: auto;
}

nav {
  width: clamp(75%, 100%, 75%);
  height: 100%;
  padding: 50px 0px;
  display: grid;
  place-items: end;
}

.nav2 {
  display: none;
  place-items: start;
  background-color: #1d1d1d;
  width: 100%;
  height: 100%;
  z-index: 1000000;

  ul {
    list-style-type: none;
    li {
      font-family: "poppins", sans-serif;
      margin: 1% 10%;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

nav .hamburger {
  display: none;
}

nav i {
  background-color: #4d4d4d;
  font-size: 30px;
  transition: background-color 0.4s;
  cursor: pointer;
}

nav i:hover {
  background-color: #ef4060;
}

section {
  height: 200vh;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 3% 10%;
}

.left {
  width: 35%; /* Fixed width for larger screens */
  min-width: 300px;
  position: sticky;
  top: 0;
  height: 80vh;
  padding: 12.3% 0%;
  margin: 0% 0px 20% 0px;
}

.left .inner-left {
  background-color: #111111;
  border-radius: 20px;
  position: relative;
  height: auto;
  padding-bottom: 10%;

  img {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25); /* equivalent to drop-shadow-xl */
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    margin-top: -130px;
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 5px;
    height: auto;
    padding: 25% 0px 0px 0px;
    font-family: "Poppins", sans-serif;

    h1 {
      width: 100%;
      text-align: center;
      font-size: 26px;
      font-weight: 600;
      line-height: 39px;
    }
    p {
      background-color: #1d1d1d;
      padding: 6px 4%;
      font-size: 16px;
      color: #a6a6a6;
      border-radius: 8px;
    }
    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 10px 0px 10px 0px;

      a {
        height: 40px;
        width: 40px;
        text-align: center;
        padding: 2px 0px;
        border-radius: 8px;
        background-color: #212425;
        i {
          margin-top: 15%;
          font-size: 24px;
          color: white;
          transition: color 0.4s;
        }
      }
      a:nth-child(1) i {
        color: #0072b1;
      }
      a:nth-child(2) i {
        color: black;
      }
      a:nth-child(3) i {
        color: #e1306c;
      }
      a:nth-child(4) i {
        color: #25d366;
      }
      a:hover {
        background: rgb(250, 82, 82);
        background: -moz-linear-gradient(
          90deg,
          rgba(250, 82, 82, 1) 0%,
          rgba(221, 36, 118, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(250, 82, 82, 1) 0%,
          rgba(221, 36, 118, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(250, 82, 82, 1) 0%,
          rgba(221, 36, 118, 1) 100%
        );
        i {
          color: white;
        }
      }
    }
  }
  .links {
    background-color: #1d1d1d;
    padding: 6% 6%;
    margin: 5%;
    border-radius: 16px;

    .phone,
    .location,
    .email,
    .birthday {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 12px;
      margin-top: 6%;
      padding-bottom: 3%;
      border-bottom: 1px solid rgb(56, 56, 56);
      span {
        font-size: 13px;
        color: #a6a6a6;
      }
      p {
        font-size: 15px;
      }
      i {
        font-size: 18px;
        padding: 4%;
        border-radius: 8px;
        background-color: #000000;
      }
    }

    .birthday {
      border: none;
      margin-bottom: 3%;
    }
  }
  .download {
    text-decoration: none;
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-top: 10%;

    a {
      padding: 4% 10%;
      border-radius: 50px;
      background: rgb(250, 82, 82);
      background: -moz-linear-gradient(
        90deg,
        rgba(250, 82, 82, 1) 0%,
        rgba(221, 36, 118, 1) 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(250, 82, 82, 1) 0%,
        rgba(221, 36, 118, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(250, 82, 82, 1) 0%,
        rgba(221, 36, 118, 1) 100%
      );
    }
  }
}

.right {
  width: clamp(50%, 70%, 100%);
  height: 100vh; /* Increased the height to ensure enough scrollable content */
  margin: 12.3% 0%;
}

.right .outer-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 0px 5% 0px;
}

.right .menu {
  max-width: 100%;
  min-width: 50%;
  width: 65%;
  background: #111111;
  padding: 3%;
  border-radius: 18px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

  .active {
    background: rgb(250, 82, 82);
    background: -moz-linear-gradient(
      90deg,
      rgba(250, 82, 82, 1) 0%,
      rgba(221, 36, 118, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(250, 82, 82, 1) 0%,
      rgba(221, 36, 118, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(250, 82, 82, 1) 0%,
      rgba(221, 36, 118, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa5252",endColorstr="#dd2476",GradientType=1);
    color: white;
  }

  a {
    color: #afafaf;
    text-decoration: none;
    width: 100px;
    padding: 10px;
    border-radius: 12px;
    background-color: #212425;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: color 0.3s;

    i {
      margin-bottom: 5px;
      font-size: 24px;
    }
  }

  a:hover {
    background: rgb(250, 82, 82);
    background: -moz-linear-gradient(
      90deg,
      rgba(250, 82, 82, 1) 0%,
      rgba(221, 36, 118, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(250, 82, 82, 1) 0%,
      rgba(221, 36, 118, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(250, 82, 82, 1) 0%,
      rgba(221, 36, 118, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa5252",endColorstr="#dd2476",GradientType=1);
    color: white;
  }
}

.right .content {
  background: #111111;
  padding: 0%;
  border-radius: 14px;

  .about {
    width: 100%;
    height: auto;
    padding: 7%;
    padding-bottom: 0;
    display: grid;
    place-items: start;
    gap: 25px;
    h2 {
      font-size: 40px;
      font-weight: 700;
      font-family: "Roboto Slab", sans-serif;
      line-height: 60px;
      position: relative;
    }
    h2::after {
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      right: -220px;
      width: 200px;
      height: 3px;
      border-radius: 50px;
      background-color: rgb(250, 82, 82);
      background: -moz-linear-gradient(
        90deg,
        rgba(250, 82, 82, 1) 0%,
        rgba(221, 36, 118, 1) 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(250, 82, 82, 1) 0%,
        rgba(221, 36, 118, 1) 100%
      );
    }
    .more {
      display: grid;
      gap: 15px;
      font-family: "Poppins", sans-serif;
      color: #a6a6a6;
      p {
        line-height: 28px;
        width: 88%;
        text-transform: capitalize;
      }
    }
  }

  .what-i-do {
    padding: 6%;
    h2 {
      font-size: 38px;
      font-weight: 700;
      font-family: "Roboto Slab", sans-serif;
      line-height: 60px;
      position: relative;
    }
    .skill {
      margin-top: 3%;
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      .demo {
        padding: 5% 20px 10% 20px;
        border: 2px solid #212425;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;

        i {
          font-size: 42px;
          margin-top: 5px;
          font-family: "Poppins", sans-serif;
        }
        .content {
          background-color: transparent;
        }

        h2 {
          font-size: 1.3vw;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          width: 100%;
        }
        p {
          color: #a6a6a6;
        }
      }
    }
  }
}

.right .content .resume {
  padding: 6%;
  display: none;
  .heading {
    h2 {
      font-size: 40px;
      font-weight: 700;
      font-family: "Roboto Slab", sans-serif;
      line-height: 60px;
      position: relative;
    }
    h2::after {
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      margin-left: 25%;
      width: 200px;
      height: 2px;
      border-radius: 50px;
      background-color: rgb(250, 82, 82);
      background: -moz-linear-gradient(
        90deg,
        rgba(250, 82, 82, 1) 0%,
        rgba(221, 36, 118, 1) 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(250, 82, 82, 1) 0%,
        rgba(221, 36, 118, 1) 100%
      );
    }
  }
  .inner {
    padding: 5% 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

    .education,
    .experience {
      max-width: 100%;
      display: grid;
      gap: 20px;
      place-items: start;
      grid-template-columns: repeat(1, 1fr);
      .title {
        i {
          font-size: 28px;
          color: #f95054;
        }
        h2 {
          font-size: 26px;
          font-family: "poppins", sans-serif;
          font-weight: 500;
          line-height: 39px;
        }
      }
      .card {
        padding: 6%;
        width: 100%;
        border: 2px solid #212425;
        border-radius: 10px;
        display: grid;
        gap: 5px;
        text-transform: capitalize;

        span {
          color: #b7b7b7;
          font-size: 14px;
          line-height: 21px;
          font-family: "poppins", sans-serif;
        }
        h3 {
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
        }
        p {
          color: #b7b7b7;
          text-transform: capitalize;
        }
      }
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .skills {
    h2 {
      font-size: 28px;
      font-weight: 400;
      font-family: "poppins", sans-serif;
      line-height: 60px;
    }
    .skill {
      margin-top: 3%;
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      padding: 3% 0px;
      font-size: 18px;
      .line {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 100px;
        position: relative;
      }
    }
    .skill:nth-child(2) .line::before {
      content: "";
      position: absolute;
      width: 40%;
      height: 5px;
      background-color: #ef4060;
      border-radius: 100px;
    }
    .skill:nth-child(3) .line::before {
      content: "";
      position: absolute;
      width: 75%;
      height: 5px;
      background-color: #0072b1;
      border-radius: 100px;
    }
    .skill:nth-child(4) .line::before {
      content: "";
      position: absolute;
      width: 60%;
      height: 5px;
      background-color: #25d366;
      border-radius: 100px;
    }
  }
  .knowledge {
    padding: 2% 0px;
    h2 {
      font-size: 28px;
      font-weight: 400;
      font-family: "poppins", sans-serif;
      line-height: 60px;
    }
    .content {
      width: 100%;
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(1, 1fr);
      p {
        color: #a6a6a6;
        font-size: 16px;
        line-height: 30px;
        background-color: #1d1d1d;
        padding: 2% 10%;
        max-width: 100%;
        border-radius: 6px;
        transition: all 0.1s linear;
        cursor: pointer;
      }
      p:hover {
        background-color: #f95054;
        color: white;
      }
    }
  }
}

.right .content .contact {
  display: none;
  padding: 10%;
  .form {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: auto;
  }

  .form form {
    display: grid;
    gap: 50px;
    padding: 20% 0px;
  }

  .form label {
    display: block;
    font-family: "ppoppins", sans-serif;
    font-weight: 600;
  }

  .form input[type="text"],
  input[type="email"],
  input[type="number"],
  .form textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #1d1d1d;
    background-color: transparent;
    resize: vertical;
    color: white;
  }

  .form textarea {
    height: 40px;
  }

  .form button[type="submit"] {
    background-color: #ef4060;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .form button[type="submit"]:hover {
    background-color: #0072b1;
  }
}

.right .content .work {
  display: none;
  padding: 7%;
  overflow: hidden;
  h2 {
    font-size: 26px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    margin: 3% 0px 5% 0px;
  }
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .button {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: rgb(182, 182, 182);
    background-color: transparent;
    border-bottom: 2px solid #272727;
  }
  .button:active,
  .button.is-checked {
    color: rgb(230, 230, 230);
  }
  /* clear fix */
  
  .grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: 100%;
    height: auto;
    padding: 5% 0px;
  }
  .grid:after {
    content: "";
    clear: both;
  }
  
  .element-item {
    max-width: 100%;/* Adjust item width to fit 3 per row with gap */
    margin-bottom: 20px; /* Space between items */
    padding: 15px;
    background-color: #1d1d1d;
    border-radius: 12px;
    .card{
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 50px;
      h2{
        font-size: 20px;
        color: white;
        font-weight: 300;
        cursor: pointer;
      }
    }
  }
  
  .element-item .img {
    width: 40%;
    overflow: hidden;
    img{
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      transition: all .2s;
    }
    img:hover{
      border-radius: 10px;
      transform: scale(1.2);
    }
  }
}

.client {
  padding: 0% 6% 6% 6%;

  .content {
    text-align: center;
    border-radius: 12px;
    background-color: black;
    padding: 3% 0px 50px 0px;
    h2 {
      padding: 0% 0px 20px 0px;
    }
  }

  .carousel-cell {
    width: 66%;
    margin-right: 10px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    align-content: center;
    img {
      max-width: 100%;
      width: 30%;
      height: auto;
    }
  }
}

@media (max-width: 1440px) {
  section {
    padding: 0% 10%;
  }
  .right .outer-menu .menu {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  section {
    padding: 3% 3%;
    gap: 30px;
  }
  .right .outer-menu .menu {
    width: 85%;
  }
  .left .inner-left img {
    max-width: 60%;
    height: auto;
    margin-top: -140px;
  }
  .right .content .what-i-do .skill .demo .content h2 {
    font-size: 1.5vw;
  }
  .right .content .what-i-do .skill .demo .content p {
    font-size: 1.2vw;
  }
}

@media (max-width: 962px) {
  header {
    background-color: #1d1d1d;
    height: 60px;
  }
  nav {
    width: 80%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .hamburger {
    display: block;
  }
  .dark-theme header {
    background-color: #f3f6f6;
  }
  .dark-theme .left .inner-left {
    border-radius: 0px;
  }
  section {
    padding: 0;
    display: inline-block;
    margin: 0;
    width: 100%;
  }
  .left {
    padding: 0;
    position: static;
    width: 100%;
    height: auto;
    margin: 0;

    .inner-left {
      border-radius: 0px;
      position: static;
      display: grid;
      place-items: center;
      height: auto;
      img {
        margin: 4% 0px;
        position: static;
        border-radius: 16px;
        padding: 0;
        transform: translateX(0);
      }
      .data {
        padding: 0% 0px;
      }
      .links {
        width: 80%;
        padding: 0% 5%;
      }
      .download {
        width: 100%;
        margin: 5% 0px 0% 0px;
        a {
          padding: 3% 21%;
        }
      }
    }
  }
  .right .outer-menu {
    display: none;
  }
  .right {
    margin-top: 0;
    height: auto;
    width: 100%;
    .content {
      border-radius: 0px;
    }
  }
  .dark-theme .right .content {
    border-radius: 0px;
  }
  .right .content .what-i-do .skill .demo .content h2 {
    font-size: 2.3vw;
  }
  .right .content .what-i-do .skill .demo .content p {
    font-size: 1.8vw;
  }
  .right .content .resume .inner {
    display: block;
  }
}

@media (max-width: 768px) {
  body {
    background-position: center;
  }
  .dark-theme {
    background-position: center;
  }
  section {
    display: inline-block;
    padding: 0;
    width: 100%;
  }
  .left {
    width: 100%;

    .inner-left {
      position: static;
      img {
        position: static;
        border-radius: 16px;
      }
    }
  }
  .right .content .what-i-do .skill .demo i {
    font-size: 5vw;
    margin-top: 6%;
  }
  .right .content .what-i-do .skill .demo .content h2 {
    font-size: 2.6vw;
  }
  .right .content .what-i-do .skill .demo .content p {
    font-size: 2vw;
  }
  .right .content .client .content {
    border-radius: 16px;
  }

  .right .content .resume .heading h2 {
    font-size: 5vw;
    margin-top: 6%;
  }
  .right .content .resume .inner .education,
  .experience {
    margin: 5% 0px;
  }
}
@media (max-width: 465px) {
  .right .content .about h2 {
    font-size: 7vw;
  }
  .right .content .about p {
    font-size: 3.5vw;
  }
  .right .content .about h2::after {
    width: 40vw;
    right: -45vw;
  }
  .right .content .what-i-do h2 {
    font-size: 7vw;
  }
  .right .content .what-i-do .skill {
    grid-template-columns: repeat(1, 1fr);
    .demo {
      border: 2px solid #212425;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 10px;

      i {
        font-size: 8vw;
      }

      .content {
        h2 {
          font-size: 4vw;
        }
        p {
          font-size: 2.5vw;
        }
      }
    }
  }

  .right .content .resume .heading h2 {
    font-size: 7vw;
  }

  .right .content .resume .heading h2::after {
    margin-left: 35%;
    width: 40%;
  }

  .right .content .resume .knowledge .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
